@charset "UTF-8";
* {
  font-family: 'Montserrat', sans-serif, 'Arial','微軟正黑體';
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0px; }

h1, h1 span {
  font-size: 50px; }

h2, h2 span {
  font-size: 30px; }

h3, h3 span {
  font-size: 24px; }

h4, h4 span, ul li a {
  font-size: 18px; }

h5, h5 span {
  font-size: 14px; }

h6, p, h6 span, p span {
  font-size: 12px; }

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 14px; }
  h5 {
    font-size: 12px; }
  h6, p {
    font-size: 10px; } }

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  ul li, ol li {
    margin: 0; }
    ul li a, ol li a {
      position: absolute;
      width: 100%;
      height: 100%; }

a {
  text-decoration: none; }
  a:active, a:visited, a:hover, a:link, a:target, a:focus {
    text-decoration: none;
    color: white; }

.container {
  padding: 0;
  height: auto; }

header#header .header__logo {
  position: absolute;
  left: 40px;
  top: 0; }
  header#header .header__logo .logo {
    width: 155px; }

header#header .header__banner {
  width: 100%;
  height: auto; }
  header#header .header__banner img.banner {
    width: 100%; }

header#header .header__title {
  position: absolute;
  right: 50px;
  bottom: 40px;
  text-align: right; }
  header#header .header__title * {
    background-color: #41B032;
    color: white;
    padding: 5px 10px;
    margin: 0;
    display: inline-block; }

nav {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#52c942), color-stop(#41B032), to(#359029));
  background: -webkit-linear-gradient(top, #52c942, #41B032, #359029);
  background: -o-linear-gradient(top, #52c942, #41B032, #359029);
  background: linear-gradient(to bottom, #52c942, #41B032, #359029); }
  nav ul {
    width: 100%;
    height: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#52c942), color-stop(#41B032), to(#359029));
    background: -webkit-linear-gradient(top, #52c942, #41B032, #359029);
    background: -o-linear-gradient(top, #52c942, #41B032, #359029);
    background: linear-gradient(to bottom, #52c942, #41B032, #359029); }
    nav ul li {
      width: 33.33333%;
      height: 100%;
      display: inline-block; }
      nav ul li a {
        text-align: center;
        line-height: 50px;
        color: white;
        background: -webkit-gradient(linear, left top, left bottom, from(#52c942), color-stop(#41B032), to(#359029));
        background: -webkit-linear-gradient(top, #52c942, #41B032, #359029);
        background: -o-linear-gradient(top, #52c942, #41B032, #359029);
        background: linear-gradient(to bottom, #52c942, #41B032, #359029); }
        nav ul li a:hover {
          color: white;
          background: -webkit-gradient(linear, left top, left bottom, from(#1b8d13), color-stop(#14690E), to(#0d4509));
          background: -webkit-linear-gradient(top, #1b8d13, #14690E, #0d4509);
          background: -o-linear-gradient(top, #1b8d13, #14690E, #0d4509);
          background: linear-gradient(to bottom, #1b8d13, #14690E, #0d4509); }
  nav .nav_title {
    color: white;
    padding: 0px 20px; }
  nav .nav-icon-btn {
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0;
    top: 0;
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    cursor: pointer; }
    nav .nav-icon-btn:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#1b8d13), color-stop(#14690E), to(#0d4509));
      background: -webkit-linear-gradient(top, #1b8d13, #14690E, #0d4509);
      background: -o-linear-gradient(top, #1b8d13, #14690E, #0d4509);
      background: linear-gradient(to bottom, #1b8d13, #14690E, #0d4509); }
    nav .nav-icon-btn .nav-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 40%;
      height: 3px;
      background-color: #FFF;
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out; }
      nav .nav-icon-btn .nav-icon:before, nav .nav-icon-btn .nav-icon:after {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #FFF;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        transition-origin: center center; }
      nav .nav-icon-btn .nav-icon:before {
        -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        transform: translateY(-200%); }
      nav .nav-icon-btn .nav-icon:after {
        -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
        transform: translateY(200%); }
  nav .nav-icon-btn.toggle_open .nav-icon {
    background-color: rgba(255, 255, 255, 0); }
    nav .nav-icon-btn.toggle_open .nav-icon:before {
      -webkit-transform: translateY(-100%) rotate(45deg);
      -ms-transform: translateY(-100%) rotate(45deg);
      transform: translateY(-100%) rotate(45deg); }
    nav .nav-icon-btn.toggle_open .nav-icon:after {
      -webkit-transform: translateY(-100%) rotate(-45deg);
      -ms-transform: translateY(-100%) rotate(-45deg);
      transform: translateY(-100%) rotate(-45deg); }

section#section-gallery .section-gallery__bg img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0; }

section#section-gallery .section-gallery-group {
  padding: 35px 20px; }
  section#section-gallery .section-gallery-group .section-gallery__title h3 {
    color: #14690E; }

section#section-gallery .section-gallery__filter {
  text-align: right;
  font-size: 12px;
  height: 45px;
  line-height: 45px;
  margin-top: 25px;
  font-weight: 500; }
  section#section-gallery .section-gallery__filter p {
    display: inline-block; }
  section#section-gallery .section-gallery__filter select {
    background-color: #fff;
    padding: 0px 20px;
    height: 100%;
    width: 245px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrows.png") no-repeat 90% 0 #fff; }
    section#section-gallery .section-gallery__filter select:focus {
      outline: none; }

section#section-gallery .section-gallery__container {
  padding: 20px 0px; }
  section#section-gallery .section-gallery__container .col-lg-3.col-md-4.col-xs-6 {
    margin-bottom: 20px; }
    section#section-gallery .section-gallery__container .col-lg-3.col-md-4.col-xs-6 a {
      display: block;
      cursor: pointer;
      z-index: 999;
      width: 90%; }
  section#section-gallery .section-gallery__container .section-gallery__thumbnail {
    width: 100%;
    max-width: 220px;
    margin: 0 auto; }
    section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container {
      -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 7px; }
      section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__pic {
        border-radius: 7px 7px 0 0;
        width: 100%;
        height: 150px;
        text-align: center;
        overflow: hidden; }
        section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__pic img {
          height: 100%;
          width: auto; }
      section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content {
        border-radius: 0 0 7px 7px;
        border-top: 3px solid #41B032;
        background: -webkit-gradient(linear, left top, left bottom, from(#FEFFFE), to(#EFF0EF));
        background: -webkit-linear-gradient(top, #FEFFFE, #EFF0EF);
        background: -o-linear-gradient(top, #FEFFFE, #EFF0EF);
        background: linear-gradient(to bottom, #FEFFFE, #EFF0EF);
        text-align: center; }
        section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail__name {
          color: #41B032; }
        section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom {
          height: 60px;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          z-index: 1000; }
          section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .vote-result {
            width: 45%;
            height: 100%;
            display: inline-block;
            vertical-align: bottom;
            padding: 15px 0px;
            color: #41B032; }
            section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .vote-result h3.vote-result_number {
              margin: 0;
              font-size: 18px; }
          section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .vote-btn {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1); }
          section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .share-btn {
            border-radius: 0px 0px 7px 0px; }
          section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .thumbnail__btn {
            width: 27.5%;
            height: 100%;
            display: inline-block;
            padding: 15px 0px;
            cursor: pointer;
            color: #41B032; }
            section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .thumbnail__btn:hover {
              background-color: #41B032;
              color: #fff; }
            section#section-gallery .section-gallery__container .section-gallery__thumbnail .thumbnaiil-container .thumbnail__content .thumbnail_bottom .thumbnail__btn i {
              font-size: 20px; }

#galleryModal {
  display: none; }

#galleryModal:target {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  z-index: 9999; }
  #galleryModal:target .gallery_modal-container {
    width: 70%;
    max-width: 480px;
    color: #fff;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px 0px 0px 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    #galleryModal:target .gallery_modal-container .gallery_modal-pic {
      width: 100%;
      height: 327px;
      border-bottom: 3px solid #41B032;
      border-radius: 5px 0px 0px 0px;
      overflow: hidden; }
      #galleryModal:target .gallery_modal-container .gallery_modal-pic img {
        width: 480px;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    #galleryModal:target .gallery_modal-container .gallery_modal_content {
      padding: 15px;
      background: -webkit-gradient(linear, left top, left bottom, from(#FEFFFE), to(#EFF0EF));
      background: -webkit-linear-gradient(top, #FEFFFE, #EFF0EF);
      background: -o-linear-gradient(top, #FEFFFE, #EFF0EF);
      background: linear-gradient(to bottom, #FEFFFE, #EFF0EF);
      border-radius: 0px 0px 0px 5px; }
      #galleryModal:target .gallery_modal-container .gallery_modal_content h3 {
        color: #41B032;
        text-align: center; }
      #galleryModal:target .gallery_modal-container .gallery_modal_content p {
        width: 100%;
        height: 75px;
        overflow: scroll;
        color: black; }
    #galleryModal:target .gallery_modal-container .gallery_modal_rightBar {
      color: #41B032;
      text-align: center;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      background-color: #FFF;
      -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      border-radius: 0px 5px 5px 0px; }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .vote-result {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn {
        padding: 15px 15px;
        cursor: pointer;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn:hover {
          background-color: #41B032;
          color: #fff; }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn i {
          font-size: 20px; }
    #galleryModal:target .gallery_modal-container .titleBar {
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: -webkit-gradient(linear, left top, left bottom, from(#52c942), color-stop(#41B032), to(#359029));
      background: -webkit-linear-gradient(top, #52c942, #41B032, #359029);
      background: -o-linear-gradient(top, #52c942, #41B032, #359029);
      background: linear-gradient(to bottom, #52c942, #41B032, #359029);
      position: absolute;
      left: 0;
      top: 0;
      width: 10; }
      #galleryModal:target .gallery_modal-container .titleBar p {
        color: #fff;
        padding-left: 20px; }
    #galleryModal:target .gallery_modal-container .closeModal-btn {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      right: 10px;
      top: 10px; }
      #galleryModal:target .gallery_modal-container .closeModal-btn a {
        width: 100%;
        height: 100%;
        background-color: #E66D65;
        color: #fff;
        display: block;
        font-size: 20px;
        line-height: 50px;
        text-align: center; }
        #galleryModal:target .gallery_modal-container .closeModal-btn a:hover {
          background-color: #df4339; }

footer#footer {
  background-color: #B4E7AC;
  height: 100px; }
  footer#footer .img-group {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px 20px 20px 0px; }
    footer#footer .img-group img {
      vertical-align: bottom;
      margin-left: 5px; }

@media screen and (max-width: 768px) {
  header#header .header__logo {
    left: 20px; }
    header#header .header__logo .logo {
      width: 100px; }
  nav ul {
    display: none;
    z-index: 999; }
  nav ul.toggle_open {
    display: block;
    position: absolute;
    top: 50px;
    left: 0px; }
    nav ul.toggle_open li {
      display: block;
      width: 100%; }
  #galleryModal:target .gallery_modal-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: #31312A; }
    #galleryModal:target .gallery_modal-container .gallery_modal-pic {
      border-bottom: none;
      position: relative;
      width: 100%;
      height: auto; }
      #galleryModal:target .gallery_modal-container .gallery_modal-pic img {
        position: relative;
        width: 100%;
        height: auto;
        top: 50px;
        left: 0;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0); }
    #galleryModal:target .gallery_modal-container .gallery_modal_content {
      padding: 15px;
      background: none;
      border-radius: none; }
      #galleryModal:target .gallery_modal-container .gallery_modal_content h3 {
        color: #41B032;
        text-align: center; }
      #galleryModal:target .gallery_modal-container .gallery_modal_content p {
        width: 100%;
        height: 100px;
        color: #fff; }
    #galleryModal:target .gallery_modal-container .gallery_modal_rightBar {
      color: #fff;
      height: 100%;
      bottom: 0;
      left: 0;
      right: auto;
      top: auto;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
      width: 100%;
      height: 60px;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0);
      padding: 0px 20px;
      text-align: left; }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar * {
        display: inline-block; }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .vote-result {
        border-bottom: none; }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .vote-result p {
          padding-left: 5px; }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btns {
        position: absolute;
        right: 20px;
        bottom: 20px; }
      #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn {
        padding: 5px 10px;
        cursor: pointer;
        border-bottom: none;
        background-color: #000;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-left: 20px; }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn p {
          margin: 0; }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn:hover {
          background-color: #fff;
          color: #000; }
        #galleryModal:target .gallery_modal-container .gallery_modal_rightBar .gallery_modal__btn i {
          font-size: 16px;
          padding-right: 5px; }
    #galleryModal:target .gallery_modal-container .closeModal-btn {
      width: 50px;
      height: 50px;
      border-radius: 0;
      border-left: 0.5px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      right: 0px;
      top: 0px; }
      #galleryModal:target .gallery_modal-container .closeModal-btn a {
        width: 100%;
        height: 100%;
        background-color: transparent; }
        #galleryModal:target .gallery_modal-container .closeModal-btn a:hover {
          background-color: #328827; } }

@media screen and (max-width: 480px) {
  header#header .header__banner {
    text-align: center; }
  header#header .header__title {
    right: 20px;
    bottom: 25px; }
  section#section-gallery .section-gallery__filter {
    width: 100%;
    text-align: left; }
    section#section-gallery .section-gallery__filter p {
      width: 15%; }
    section#section-gallery .section-gallery__filter select {
      width: 80%; }
  section#section-gallery .section-gallery__page_bar a {
    padding: 10px; }
  #galleryModal:target .gallery_modal-container .gallery_modal-pic {
    margin-top: 20vh; } }
